<ion-header>
  <ion-toolbar color="light">
    <ion-title><strong>Moodle ITS</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Cursos disponibles</h2>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" *ngFor="let curso of cursos">
        <ion-card class="curso-card">
          <div class="categoria">{{ curso.categoria }}</div>
          <img [src]="" alt="curso">
          <ion-card-content>
            <h3>{{ curso.nombre }}</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
